
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form method="post" action="/account/Login">
            <input type="text" name="email" placeholder="email" class="form-control" />
            <br />
            <input type="password" name="password" placeholder="password" class="form-control" />
            <button class="btn btn-info">Login</button>
        </form>
    </div>
</div>

