@using _5_1_stackoverflow.data;
@model IEnumerable<Question>
@{
    ViewData["Title"] = "Index";
}
<style type="text/css">
    .tag-border {
        border: 1px solid dimgray;
        border-radius: 5px;
    }
</style>
<h2 class="col-md-4 col-md-offset-5">Questions</h2>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        @foreach (Question q in Model)
        {
            <div class="well">
                <h4>
                    <a href="home/question?id=@q.Id">@q.Title</a>
                </h4>
                <div>
                    <span>Tags:</span>
                    @foreach (var t in q.QuestionTags)
                    {
                        <span class=" label label-success" style="display: inline-block">@t.Tag.Name</span>
                    }
                    <div style="margin-top: 10px">
                        @(q.Text.Length < 200 ? q.Text : (q.Text.Substring(0, 200) + "..."))
                    </div>
                    <span>Likes: @q.Likes.Count</span>
                    <br />
                </div>
            </div>


        }
    </div>
</div>



